.top {
  margin-bottom: 3rem;
}

.heading {
  text-align: center;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  border-radius: 15px;
}


@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 7rem;
  }
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
