.container {
  margin-top: 20rem;
}

.top {
  margin-bottom: 3rem;
}

.heading {
  text-align: center;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  border-radius: 15px;
}

.card {
  margin-top: -10rem;
  cursor: pointer;
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  top: 125px;
  border: 1px solid var(--lightGray);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.img {
  border: 10px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
}

.card:hover .imgContainer {
  box-shadow:
    0px 0px 0px 0px rgba(153, 126, 152, 1),
    0px 15px 25px 0px rgba(0, 0, 0, 0.15);
}

.cardBottom {
  border-radius: 15px;
  border: 1px solid var(--lightGray);
  background-color: var(--gray2);
}

.title,
.description {
  padding: 2rem;
  border-bottom: 1px dashed var(--lightGray);
}

.title {
  padding-top: 16rem;
  text-align: center;
}

.description {
  opacity: 0.7;
}

.linksBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.link1,
.link2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.link1 {
  border-right: 1px dashed var(--lightGray);
}

.btnContainer {
  border-top: 1px dashed var(--lightGray);
  display: grid;
  padding: 2rem;
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .title {
    padding-top: 20rem;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 200px;
    height: 200px;
    top: 100px;
    border-radius: 50%;
  }

  .img {
    border: 8px solid var(--white);
    border-radius: 50%;
    object-fit: cover;
  }
}
