.container {
  scroll-padding: 10rem;
  background: rgb(241, 241, 242);
  background: -moz-linear-gradient(
    180deg,
    rgba(241, 241, 242, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(241, 241, 242, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(241, 241, 242, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f2",endColorstr="#ffffff",GradientType=1);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 15px;
  overflow: hidden;
}

.sectionHeading,
.sectionHeadingii {
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid var(--blue);
  border-right: 1px solid var(--white);
  width: 100%;
  color: var(--white);
  background-color: var(--blue);
}

.sectionHeadingii {
  border-right: none;
}

.bottomLeft,
.bottomRight {
  width: 100%;
}

.bottomLeft {
  border-right: 1px dashed var(--blue);
}

.copy {
  padding: 2rem;
}

.bottomRight {
  grid-column: span 3;
}

.brGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.br1,
.br2 {
  width: 100%;
}

.br1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 3rem;
  border-right: 1px dashed var(--blue);
}

.addressBox,
.addressBoxLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.addressBoxLocation {
  padding: 2rem;
}

.address {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  opacity: 0.7;
  border-bottom: 1px dashed var(--blue);
  width: 100%;
  color: var(--blue);
  padding: 1.5rem;
}

.contactBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  object-fit: cover;
  border: 1px solid var(--blue);
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionHeading,
  .sectionHeadingii {
    text-align: center;
    border-right: none;
  }

  .sectionHeadingii {
    border-top: 1px solid var(--blueBorder);
  }

  .copy {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-indent: 0em;
    width: 100%;
  }

  .copy {
    width: 100%;
  }

  .brGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .br1 {
    text-align: center;
    align-items: center;
    gap: 3rem;
    border-bottom: 1px solid var(--blueBorder);
    padding-bottom: 3rem;
    border-right: none;
  }

  .img {
    margin-left: auto;
    margin-right: auto;
  }

  .address {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
