.heading {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: var(--white);
  position: relative;
  top: 50px;
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 4rem;
}

.heading {
  font-family: var(--BoogyBrutPoster);
  color: var(--blue);
  font-size: 6rem;
}

.bBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 30%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1068px) {
  .bBottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .btnContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 668px) {
  .bBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    width: 100%;
  }
}
