.container {
  background-color: var(--gray2);
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.heading {
  margin-bottom: 2rem;
}

.bBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 30%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  
}

@media screen and (max-width: 1068px) {
  .heading {
    text-align: center;
    width: 100%;
  }

  .bBottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .btnContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 668px) {
  .bBottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    width: 100%;
  }
}
