.container {
  position: relative;
  z-index: 1;
}

.btn {
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-family: var(--font-secondary);
  line-height: 1.2em;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.primary {
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid var(--lightBlack);
}

.primaryii {
  color: var(--purple);
  border: 1px solid var(--purple);
}

.primaryii:hover {
  background-color: var(--purple);
  color: var(--white);
}

.primaryiii {
  color: var(--black);
  background-color: var(--tan2);
  /* border: 1px solid var(--lightBlack); */
}

.primaryNav {
  color: var(--tan);
  background-color: var(--purple);
  /* border: 1px solid var(--lightBlack); */
  padding: 7px 15px;
  font-size: 1.4rem;
}

.secondary,
.secondaryNav {
  background-color: var(--purple);
  color: var(--tan);
}

.secondaryNav {
  padding: 5px 30px;
  font-size: 1.6rem;
  font-weight: 500;
  user-select: none;
  gap: 2rem;
  width: fit-content;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
  line-height: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--suisseReg);
  border: 1px solid var(--purple);
}

.secondaryNav:hover {
  background-color: transparent;
  color: var(--purple);
}

.secondary:hover,
.primaryNav:hover {
  background-color: var(--purple2);
  color: var(--tan);
}

.secondaryii {
  color: #729187;
  border: 1px solid #729187;
}

/* .secondaryNav {
  color: var(--green);
  background-color: var(--white);
  border: 1px solid var(--green);
  padding: 5px 30px;
} */

.tertiary {
  color: var(--tan);
  background-color: var(--green);
  border: 1px solid var(--tan);
}

.arrow {
  width: 20px;
  height: 20px;
}
