.container {
  background-color: var(--blue);
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  color: var(--white);
  text-align: center;
  width: 80%;
}

.heading2 {
  color: var(--white);
  font-family: var(--BoogyBrutPoster);
  font-size: 6rem;
  text-align: center;
}

.copy,
.span {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4em;
  font-size: 2rem;
  color: var(--pink);
}

.directionLeft {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 100%;
  }
  .directionLeft {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }

}
