
.sectionheadingContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.heading {
  width: 60%;
  margin-right: auto;
  color: var(--white);
  background: linear-gradient(
    135deg,
    rgba(252, 210, 205, 1) 35%,
    rgba(189, 183, 213, 1) 65%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.secondBox {
  border: 1px solid var(--white);
  border-radius: 15px;
  padding: 2rem;
}

.left {
  background-color: var(--purple2);
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.headingii {
  font-family: var(--BoogyBrutPoster);
  font-size: 3rem;
  letter-spacing: 1px;
}

.headingii,
.copyii {
  color: var(--white);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--pink);
  padding: 2rem;
  border-radius: 15px;
}

.right h3,
.right p {
  color: var(--blue);
}

@media screen and (max-width: 1568px) {
  .heading {
    width: 80%;
  }

  .contactContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .secondBox {
    display: none;
  }
}

@media screen and (max-width: 1468px) {
  .contactContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }
}
