.container {
  background-color: var(--blue);
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.heading {
  margin-top: 1rem;
  color: var(--white);
}

.heading2 {
  color: var(--white);
  font-family: var(--BoogyBrutPoster);
  font-size: 6rem;
}

.copy,
.span {
  color: var(--lightGray);
  max-width: 640px;
  margin-top: 1rem;
  line-height: 1.4em;
  font-size: 2rem;
}

.copy {
  margin-top: 3rem;
}

.span {
  font-weight: 800;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--pink);
}

.right {
  position: relative;
}

.drag {
  text-align: center;
  display: block;
  color: var(--white);
  opacity: 0.7;
  user-select: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.sceneContianer {
  cursor: grab;
  /* Force pointer events on the container itself */
  pointer-events: auto;
}

.sceneContianer:active {
  cursor: grabbing;
}

.sceneContianer * {
  /* If you want the child to NOT capture the mouse. 
   * This often breaks 3D interactions, so be careful */
  pointer-events: none; 
}

@media screen and (max-width: 1068px) {
  /* .container {
    padding-bottom: 40rem;
  } */

  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .right {
    height: 400px;
  }
}
