.container {
  position: relative;
  width: 100%;
  min-height: 75vh;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgba(252, 210, 205, 1) 15%,
    rgba(189, 183, 213, 1) 65%
  );
}

.container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url(../../../public/noise.gif);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-top: 10rem;
}

.heading {
  margin-top: 1rem;
}

.heading2 {
  font-family: var(--BoogyBrutPoster);
  font-size: 6rem;
}

.copy,
.span {
  max-width: 640px;
  margin-top: 1rem;
  line-height: 1.4em;
  font-size: 2rem;
}

.copy {
  margin-top: 3rem;
}

.span {
  font-weight: 800;
  margin-left: 0.3rem;
}

.sceneContianer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -10rem;
}

@media screen and (max-width: 968px) {
  .container {
    padding-bottom: 40rem;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .sceneContianer {
    margin-top: 0rem;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
