
.card {
  /* margin-top: -10rem; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

/* .cardBottom {
  padding-top: 3rem;
} */

.imgContainer {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--lightGray);
  border-radius: 50%;
  transition: all 0.2s ease-in;
  /* background-image: url(../../../public//images/chuxly.jpg);
  background-position: 0 100%;
  background-size: cover;
  background-attachment: fixed; */
}

.img {
  border: 10px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
}

.card:hover .imgContainer {
  box-shadow:
    0px 0px 0px 0px rgba(153, 126, 152, 1),
    0px 15px 25px 0px rgba(0, 0, 0, 0.15);
}

.cardTop {
  border-radius: 15px;
  background-color: var(--gray2);
  padding: 3rem;
  border: 1px solid var(--lightGray);
  width: 100%;
}

.cardBottom {
  border-radius: 15px;
  border: 1px solid var(--lightGray);
  border-radius: 15px;
  overflow: hidden;
}

.title,
.description {
  padding: 2rem;
  border-bottom: 1px dashed var(--lightGray);
}

.title {
  border-top: 1px dashed var(--lightGray);
  font-size: 1.6rem;
  margin-top: 3rem;
  text-align: center;
}

.description {
  padding: 0.5rem 2rem;
  opacity: 0.7;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.linksBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.link1,
.link2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.link1 {
  border-right: 1px dashed var(--lightGray);
}

.btnContainer {
  border-top: 1px dashed var(--lightGray);
  display: grid;
  padding: 2rem;
}