.container {
  background-color: var(--white);
  padding-top: 10rem;
  padding-bottom: 5rem;
}


.top {
  margin-bottom: 5rem;
}

.sectionHeadingContainer {
  margin-bottom: 2rem;
}

.heading span {
  font-family: var(--BoogyBrutPoster);
  font-size: 5rem;
  margin-right: 1rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  overflow: hidden;
}


@media screen and (max-width: 1068px) {

  .container {
    padding: 0rem 7rem;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .heading {
    margin-top: 1rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .bottomLeft {
    height: 350px;
  }

  .btnContainerii {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 25rem;
  }

  .container {
    padding: 0rem 4rem;
  }

  .btnContainerii {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 0rem;
  }

  .top {
    margin-bottom: 2rem;
  }

  .bottomLeft {
    height: 300px;
  }

}
