.container {
  background-color: var(--white);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.top {
  margin-bottom: 2rem;
}

.sectionHeadingContainer {
  border-bottom: 1px solid var(--lightGray);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.heading span {
  font-family: var(--BoogyBrutPoster);
  font-size: 5rem; 
  margin-right: 1rem;

}

.copy {
  font-size: 2rem;
  opacity: 0.7;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid var(--blue);
}

.bottomLeft {
  background: linear-gradient(
    135deg,
    rgba(252, 210, 205, 1) 15%,
    rgba(189, 183, 213, 1) 65%
  );
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 998;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border-bottom: 1px dashed var(--blue);
}

.title {
  padding: 2rem;
  border-right: 1px dashed var(--blue);
  font-size: 1.8rem;
  background-color: var(--gray2);
}

.description {
  background-color: var(--gray2);
  padding: 2rem;
  opacity: 0.7;
}

.btnContainer {
  display: grid;
  width: 100%;
  padding: 1rem;
  background-color: var(--gray2);
}

.btnContainerii {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 30%;
}

@media screen and (max-width: 1068px) {
  .sectionHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .container {
    padding: 0rem 7rem;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .heading {
    margin-top: 1rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .bottomLeft {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0rem 4rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 0rem;
  }

  .top {
    margin-bottom: 2rem;
  }

  .bottomLeft {
    height: 300px;
  }

  .btnContainerii {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 7rem;
  }
}
