.parent {
  background: linear-gradient(
    135deg,
    rgba(252, 210, 205, 1) 15%,
    rgba(189, 183, 213, 1) 65%
  );
  height: 100vh;
}

/* .container {
  padding-top: 10rem;
} */

.container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url(../../../public/noise.gif);
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
}

.sectionHeadingContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.heading {
  margin-bottom: 1rem;
}

.copy {
  max-width: 60%;
  line-height: 1.4em;
  font-size: 2rem;
}

.span {
  font-weight: 800;
  margin-left: 0.3rem;
}

.btnContainer {
  margin-top: 2rem;

  width: 250px;
}

.box {
  position: relative;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag {
  text-align: center;
  color: var(--black);
  opacity: 0.7;
  user-select: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.sceneContianer {
  cursor: grab;
  pointer-events: auto;
  margin-top: -1rem;
}

.sceneContianer:active {
  cursor: grabbing;
}

.sceneContianer * {
  pointer-events: none;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  .container {
    align-items: center;
  }

  .right {
    order: -1;
  }

  .left,
  .sectionHeadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .heading,
  .copy {
    width: 100%;
    text-align: center;
  }

  .sceneContianer {
    margin-top: -1rem;
  }

  .drag {
    position: absolute;
    top: 10%;
    left: 50%;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
