.container {
  background-color: var(--blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon {
  width: 300px;
  height: 300px;
  color: var(--white);
  transition: all 0.3s ease-in;
}

.icon2 {
  width: 30px;
  height: 30px;
  color: var(--blue);
  transition: all 0.3s ease-in;
  margin-right: 1.5rem;
}

@media screen and (max-width: 568px) {
  .icon {
    width: 100px;
    height: 100px;
  }
}
