.logo {
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
}

.large {
  font-size: 2.5rem;
}

.logo span {
  margin-right: 1rem;
}

.icon {
  color: var(--black);
  width: 2.7rem;
  height: 2.7rem;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}

.iconLarge {
  width: 3.5rem;
  height: 3.5rem;
}
