.container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  color: var(--grayText);
  font-size: 1.8rem;
  width: 60%;
}

@media screen and (max-width: 1068px) {
  .heading,
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .heading,
  .copy {
    width: 100%;
  }
}
