.container {
  background-color: var(--blue);
}

.top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 1.5rem;
  margin-top: 10rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.imgContianer {
  position: relative;
  width: 100%;
  height: 100%;
  /* animation: float 5s ease-in-out infinite; */
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.span {
  color: var(--purple);
  letter-spacing: 7px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 7rem;
}

.heading {
  color: var(--white);
  background: linear-gradient(
    135deg,
    rgba(252, 210, 205, 1) 15%,
    rgba(189, 183, 213, 1) 65%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottomBtnArea {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
}

.right {
  border: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 25px;
}

.rightSideTop {
  padding: 2rem;
}

.headingii {
  color: var(--white);
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed var(--lightGray);
}

.middleLeft {
  padding: 2rem;
  border-right: 1px dashed var(--lightGray);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--pink);
  width: 5rem;
  height: 5rem;
}

.middleRight {
  padding: 2rem;
}

.copyii {
  color: var(--lightGray);
  font-weight: 400;
  width: 90%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px dashed var(--lightGray);
  width: 100%;
}

.b1,
.b2,
.b3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightGray);
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.b1,
.b2 {
  border-right: 1px dashed var(--lightGray);
}

.headingiii {
  text-align: center;
  color: var(--white);
  font-weight: 600;
}

.processContainer {
  margin-top: 20rem;
}

@media screen and (max-width: 1068px) {
  .top,
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .content {
    padding: 3rem;
    padding-top: 2rem;
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .heading,
  .headingii {
    text-align: center;
  }

  .heading,
  .copyii {
    width: 100%;
  }

  .right {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .rightSideTop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .bottomBtnArea {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1rem; */
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0rem;
    padding-top: 2rem;
  }

  .btnContainer {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
