.container {
  background-color: var(--blue);
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.span {
  color: var(--purple);
  letter-spacing: 7px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 5rem;
}

.heading {
  color: var(--white);
  width: 80%;
}

.right {
  border: 1px solid var(--lightGray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
}

.rightSideTop {
  padding: 2rem;
}

.headingii {
  color: var(--lightGray);
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed var(--lightGray);
  grid-gap: 2rem;
}

.middleLeft {
  padding: 2rem;
  border-right: 1px dashed var(--lightGray);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--pink);
  width: 5rem;
  height: 5rem;
}

.middleRight {
  padding: 2rem;
}

.copyii {
  color: var(--lightGray);
  font-weight: 400;
  width: 90%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px dashed var(--lightGray);
  width: 100%;
}

.b1,
.b2,
.b3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightGray);
  height: 100%;
  padding: 2rem;
}
.b1,
.b2 {
  border-right: 1px dashed var(--lightGray);
}

@media screen and (max-width: 1068px) {
  .content {
    padding: 3rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
  }
  
  .heading {
    text-align: center;
  }
  
  .heading,
  .copyii {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0rem;
  }
  
}

