.container {
  margin-top: 10rem;
}

.sectionHeadingContainer {
  border-bottom: 1px solid var(--lightGray2);
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.content {
  border: 1px solid var(--lightGray2);
  border-radius: 15px;
}

.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sectionTitle {
  font-size: 2rem;
  padding: 2rem;
  display: block;
  border-right: 1px solid var(--lightGray2);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--lightGray2);
}

.left {
  border-right: 1px solid var(--lightGray2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  background-color: var(--tan);
}

.copy {
  padding: 2rem;
}

.btnContainer {
  display: grid;
  width: 100%;
  padding: 2rem;
}

.right {
  grid-column: span 3;
}

.list {
  list-style: none;
  padding: 0;
}

.name {
  color: var(--blue);
  padding: 2rem;
  font-weight: 600;
  border-bottom: 1px dashed var(--lightGray2);
  transition: all 0.1s ease-in;
  width: 100%;
}

.name:nth-child(5) {
  border-bottom: none;
}

@media screen and (max-width: 1568px) {
  .top,
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionTitle {
    text-align: center;
    border-right: none;
  }

  .left {
    border-bottom: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copy {
    text-align: center;
  }

  .resumeContainer {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .right{
    border-top: 1px solid var(--lightGray2);
  } 
}


@media screen and (max-width: 568px) {
  .heading::after {
    width: 0%;
  }

  .heading::before {
    width: 0%;
  }
}
