.container {
  border-radius: 20px;
  background-color: var(--white);
  padding: 3rem;
}

.topTop {
  margin-bottom: 5rem;
  padding: 5rem;
}

.top,
.bottom {
  /* padding: 3rem; */
  border-radius: 5px;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 3rem;
}

.brandInfoMobile {
  display: none;
}

.logo {
  color: var(--green);
}

.copy {
  font-size: 1.3rem;
  width: 80%;
  margin-top: 1rem;
  color: var(--grayText);
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.socialContainer {
  background-color: var(--blue);
  padding: 0.8rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon {
  color: var(--white);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: var(--blue);
}

.heading {
  color: var(--bgColor);
  text-transform: uppercase;
  font-weight: 600;
}

.link {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--blue);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.iconii {
  color: var(--blue);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px dashed var(--gray);
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logoii {
  color: var(--blue);
  font-size: 1.2rem;
}

.disclosures {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--blue);
  font-size: 1.2rem;
}

.disc {
  font-size: 1.2rem;
}

@media screen and (max-width: 968px) {
  .topTop {
    padding: 3rem;
  }

  .top {
    grid-template-columns: repeat(2, 1fr);
  }

  .brandInfo {
    display: none;
  }

  .brandInfoMobile {
    display: block;
    padding: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  .logo,
  .copy {
    text-align: center;
  }

  .heading,
  .copy {
    width: 100%;
  }

  .socials {
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .topTop {
    padding: 2rem;
  }

  .top {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }
}
