.container {
  background-color: var(--blue);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  color: var(--white);
  text-align: center;
}

.heading2 {
  color: var(--white);
  font-family: var(--BoogyBrutPoster);
  font-size: 6rem;
  text-align: center;
}

.copy,
.span {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4em;
  font-size: 2rem;
  color: var(--pink);
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 250px;
  margin-top: 1rem;
}

.box {
  position: relative;
}

.sceneContainer {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: none;
}

@media screen and (max-width: 1068px) {
  .content {
    padding-top: 15rem;
  }
  
  .sceneContainer {
    display: block;
  }

  .heading {
      mix-blend-mode:luminosity;

  }

  .copy {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
