.container {
  position: relative;
  width: 100%;
  min-height: 75vh;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgba(252, 210, 205, 1) 15%,
    rgba(189, 183, 213, 1) 65%
  );
}

.container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url(../../../public/noise.gif);
}

.contentParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 998;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 425px;
  height: 425px;
  border: 1px solid var(--lightGray);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.img {
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
}

.heading {
  font-family: var(--BoogyBrutPoster);
  font-size: 6rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  text-align: center;
}

.headingii {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.copy {
  text-align: center;
}

.heading2ii {
  font-size: 1.6rem;
  font-weight: 500;
}

.copy {
  margin-top: 0.5rem;
  color: var(--grayText);
}

.descBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  margin-top: 0.5rem;
  color: var(--grayText);
  text-align: center;
  width: 60%;
}

.right {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.rightContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.tagsList {
  margin-top: 2rem;
}

.tagsList strong {
  color: var(--blue);
  text-decoration: underline;
  margin-bottom: 1.5rem;
  display: block;
}

.tagsList li {
  list-style: none;
  margin-bottom: 1rem;
  border: 1px solid var(--grayText);
  color: var(--grayText);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  user-select: none;
}

.tagsList li:nth-child(1) {
  margin-top: 0rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 250px;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .rightContent {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .heading2,
  .headingii,
  .copy,
  .description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tagsList li {
    margin-left: auto;
    margin-right: auto;
  }

  .btnContainer {
    width: 275px;
  }
}

@media screen and (max-width: 968px) {
  .description {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    height: 270px;
    width: 270px;
  }

  .description {
    width: 100%;
  }

  .btnContainer {
    width: 100%;
  }
}
