.container {
  position: relative;
  width: 100%;
  min-height: 75vh;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgba(252, 210, 205, 1) 15%,
    rgba(189, 183, 213, 1) 65%
  );
}

.container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url(../../../public/noise.gif);
}

.content {
  padding-top: 10rem;
  padding-bottom: 18rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 2rem;
  z-index: 998;
}

.heading {
  font-family: var(--BoogyBrutPoster);
  font-size: 6rem;
  letter-spacing: 1px;
}

.mobileImage {
  display: none;
}

.headingii {
  font-size: 2rem;
  font-weight: 700;
}

.heading2ii {
  font-size: 1.6rem;
  font-weight: 500;
}

.copy {
  margin-top: 0.5rem;
  color: var(--grayText);
}

.description {
  margin-top: 0.5rem;
  /* width: 80%; */
  color: var(--grayText);
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.tagsList {
  margin-top: 2rem;
}

.tagsList strong {
  color: var(--blue);
  text-decoration: underline;
  margin-bottom: 1.5rem;
  display: block;
}

.tagsList li {
  list-style: none;
  margin-bottom: 1rem;
  border: 1px solid var(--grayText);
  color: var(--grayText);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  user-select: none;
}

.tagsList li:nth-child(1) {
  margin-top: 0rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 50%;
}

.right {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 425px;
  height: 425px;
  border: 1px solid var(--lightGray);
  border-radius: 50%;
}

.img,
.imgMobile {
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .rightContent {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .heading2,
  .headingii,
  .copy,
  .description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .mobileImage {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .imgContainerMobile {
    position: relative;
    width: 350px;
    height: 350px;
  }

  .imgContainer {
    display: none;
  }

  .tagsList li {
    margin-left: auto;
    margin-right: auto;
  }

  .imgContainer {
    height: 500px;
  }
}


@media screen and (max-width: 568px) {
  .imgContainerMobile {
    height: 250px;
    width: 250px;
  }

  .btnContainer {
    width: 100%;
  }
}
