.cardContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--white);
  border-radius: 15px;
  border: 1px solid var(--lightGray2);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
  width: 100%;
}

.cardContainer {
  background-color: var(--purple2);
  color: var(--white);
  border: 1px solid var(--blue);
  position: relative;
  box-shadow:
    0px 10px 10px 0px rgba(153, 126, 152, 1),
    0px 15px 25px 0px rgba(0, 0, 0, 0.15);
}

.cardContainer:hover {
  box-shadow:
    0px 0px 0px 0px rgba(153, 126, 152, 1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgContainer::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.06;
  pointer-events: none;
  background: url(../../../public/noise.gif);
}

.img {
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.sectionHeadingContainer,
.title,
.desc,
.small {
  padding: 2rem;
  padding-left: 5rem;
}

.title {
  font-size: 2rem;
  color: var(--white);
  border-top: 1px dashed var(--white);
  border-bottom: 1px dashed var(--white);
  width: 100%;
  padding: 2rem;
  font-weight: 600;
  line-height: 120%;
  padding-left: 5rem;
}

.desc {
  font-weight: 500;
  color: var(--white);
  border-bottom: 1px dashed var(--white);
  padding: 2rem;
  padding-left: 5rem;
  width: 100%;
}

.small {
  color: var(--white);
  font-size: 1.5rem;
  padding: 2rem;
  padding-left: 5rem;
}

@media screen and (max-width: 1068px) {
  .cardContainer {
    grid-template-columns: 1.5fr 2fr;
  }
}

@media screen and (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }

  .imgContainer {
    height: 250px;
  }
  .sectionHeadingContainer,
  .title,
  .desc,
  .small {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 568px) {
  .sectionHeadingContainer,
  .title,
  .desc,
  .small {
    padding: 2rem;
  }
}
