.header {
  padding: 0.7rem;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: radial-gradient(
    ellipse at 50% 100px,
    rgba(250, 247, 244, 0.3),
    rgba(250, 247, 244, 1)
  );
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  width: 90%;
  border-radius: 10px;
  box-shadow:
    0px 4px 4px 0px rgba(153, 126, 152, 1),
    0px 15px 25px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #faf7f4;
  border-top: 1px solid var(--lightGray);
}

.header.hide {
  transform: translate(-50%, -150%);
  opacity: 0;
}

.header.show {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.white {
  color: white !important;
}

.navbar {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.logoContainer,
.logoContainerMobile {
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
}

.logoContainerMobile {
  display: none;
}

.navItems,
.navItemsii {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  position: relative;
  width: 100%;
  /* padding: 0rem 2rem; */
  position: relative;
}

.navItems {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--tan);
}

.navItemsii {
  justify-content: flex-end;
  background-color: var(--tan);
  padding: 0rem;
  width: fit-content;
  margin-left: auto;
}

.navItem {
  position: relative;
  line-height: 1;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--black);
  user-select: none;
  scroll-behavior: smooth;
  z-index: 998;
  transition: color 0.1s ease-in-out;
}

.hamburger {
  display: none;
  z-index: 999;
  position: relative;
  padding: 1rem;
}

.whiteBar {
  position: relative;
  z-index: 9999;
  display: block;
  width: 55px;
  height: 3px;
  margin: 2px auto;
  border-radius: 15px;
  background-color: var(--black);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 868px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .logoContainerMobile {
    display: block;
  }

  .navMenu {
    position: fixed;
    right: -110%;
    top: 0px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  
    transition: 0.3s all ease-in;
    z-index: 1000;
    padding: 2rem;
    transform-origin: top;
    background-color: var(--tan);
    transition: all 0.3s ease-in;
    border-bottom: 1px solid var(--blueBorder);
    background-color: var(--blue);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .navMenu.active {
    right: 0%;
  }

  .logoContainer {
    display: none;
  }

  .navItems,
  .navItemsii {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    margin-right: auto;
    width: 100%;
    border: none !important;
  }

  .navItems::after,
  .navItemsii::after {
    top: 0px;
    left: 0px;
    border: none;
  }

  .navItem {
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    width: 100%;
    padding: 2rem;
    padding-bottom: 1rem;
    color: var(--white);
  }

  .btnContainer {
    display: grid;
    width: 100%;
  }

  .hamburger {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }

  .hamburger .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(1) {
    -webkit-transform: translateY(0px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
    background-color: var(--white);
  }

  .hamburger.active .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(3) {
    -webkit-transform: translateY(0px) rotate(-45deg);
    transform: translateY(2px) rotate(-45deg);
    background-color: var(--white);
  }

  .white {
    color: white !important;
  }
}

@media screen and (max-width: 568px) {
  .hamburgerParent::after {
    top: 7px;
    left: 7px;
  }
}
