.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: fit-content;
  padding-top: 1rem;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.span {
  text-align: center;
  font-size: 1.4rem;
  text-transform: lowercase;
}

.purple {
  color: var(--purple);
}

.purpleDot {
  background-color: var(--purple);
}

.blackeDot {
  background-color: var(--black);
}

.black {
  color: var(--black);
}
